<% unless current_user.id == @user.id %>
    <br>
    <div id="follow_form">
        <% if current_user.following.include?(@user) %>
            <%= form_tag( {controller: "entry", action: "relationships"}, method: "delete") %>
            <div><%= hidden_field_tag :followed_id, @user.id %></div>
            <%= submit_tag "Unfollow", class: "btn" %>
        <% else %>
            <%= form_tag( {controller: "entry", action: "relationships"}, method: "post") %>
            <div><%= hidden_field_tag :followed_id, @user.id %></div>
            <%= submit_tag "Follow", class: "btn btn-primary" %>
        <% end %>
    </div>
<% end %>