<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <h4>Thoughts</h4>
            <%= form_for(current_user, url: "/thoughts") do |f| %>
                <%= f.text_area :thoughts, size: "35x10" %>
                <%= f.submit "Save" %>
            <% end %>
        </div>
        <div class="col-md-8 col-sm-8">
            <h4>Recommend Books</h4>
            <%= form_tag("/post", method: "post") do %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Search") %>
            <% end %>
            <% if @books %>
                <%= form_tag("/book", method: "post") do %>
                    <% @books.each do |book| %>
                        <h5><%= book.title %><small> | <%= book.authors %></small></h5>
                        <%= radio_button_tag(:title, book.title) %>
                        <%= image_tag(book.image_link) if book.image_link %>
                    <% end %>
                <br><br><%= submit_tag("Select") %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>