<!DOCTYPE html>
<html>
  <head>
    <title>Book Club</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">The Book Club</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><%= fa_icon "home 2x" %></a></li>
                <li><a href="#"><%= fa_icon "users 2x" %></a></li>
                <li><a href="#"><%= fa_icon "question-circle 2x" %></a></li>
            </ul>
        </div>
    </nav>
  <body>
    <%= yield %>
  </body>
</html>
